@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ErronkaOndo.Models.Inkesta
@{
    ViewData["Title"] = "Inkesta";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Band Name</title>
    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet" type="text/css">
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Loading main css file -->
    <link rel="stylesheet" href="site.css">



</head>

<body class="header-collapse">

    <div id="site-content">
        <main class="main-content">

            <div class="izenburua container">

                <h2><b>Inkesta</b></h2>

            </div>

            <div class="row">

                <div class="col-4">

                </div>
                <div class="col-4">
                    <img src="~/images/inkesta.png" />
                </div>
                <div class="col-4">

                </div>



            </div>
           
            
            <div class="row">
                <div class="col-2">
                </div>


                <div class="col-8">



                    <div class="testua">


                        <form asp-action="Index" class="inkestaform" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="puntuazioa" class="control-label"> 1-10 Zenbat gustatu zaizu jokua?</label>
                                <br />


                                @Html.RadioButtonFor(m => m.puntuazioa, 1)<span>1</span>
                                @Html.RadioButtonFor(m => m.puntuazioa, 2)<span>2</span>
                                @Html.RadioButtonFor(m => m.puntuazioa, 3)<span>3</span>
                                @Html.RadioButtonFor(m => m.puntuazioa, 4)<span>4</span>
                                @Html.RadioButtonFor(m => m.puntuazioa, 5)<span>5</span>
                                @Html.RadioButtonFor(m => m.puntuazioa, 6)<span>6</span>
                                @Html.RadioButtonFor(m => m.puntuazioa, 7)<span>7</span>
                                @Html.RadioButtonFor(m => m.puntuazioa, 8)<span>8</span>
                                @Html.RadioButtonFor(m => m.puntuazioa, 9)<span>9</span>
                                @Html.RadioButtonFor(m => m.puntuazioa, 10)<span>10</span>

                                <span asp-validation-for="puntuazioa" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="gomendioa" class="control-label"> 1-5 Zenbat gomendatuko zenuke jokua?</label>
                                <br />


                                @Html.RadioButtonFor(m => m.gomendioa, 1)<span>1</span>
                                @Html.RadioButtonFor(m => m.gomendioa, 2)<span>2</span>
                                @Html.RadioButtonFor(m => m.gomendioa, 3)<span>3</span>
                                @Html.RadioButtonFor(m => m.gomendioa, 4)<span>4</span>
                                @Html.RadioButtonFor(m => m.gomendioa, 5)<span>5</span>

                                <span asp-validation-for="gomendioa" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="jokugaia" class="control-label">Enpresak beste joku bat garatzen badu, zer gaia aukeratuko zenuke? </label>
                                <br />

                                @Html.RadioButtonFor(m => m.jokugaia, "multiplayer")<span>Multiplayer</span>
                                @Html.RadioButtonFor(m => m.jokugaia, "soziala")<span>Soziala</span>
                                @Html.RadioButtonFor(m => m.jokugaia, "mahai-jokoa")<span>Mahai-jokoa</span>
                                @Html.RadioButtonFor(m => m.jokugaia, "estrategia")<span>Estrategia</span>
                                @Html.RadioButtonFor(m => m.jokugaia, "arkade")<span>Arkade</span>
                               
                              
                                <span asp-validation-for="jokugaia" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="gustora" class="control-label">Zelan zaude enpresan?</label>
                                <br />
                                @Html.RadioButtonFor(m => m.gustora, "Oso gustora")<span>Oso gustora</span>
                                @Html.RadioButtonFor(m => m.gustora, "Gustora")<span>Gustora</span>
                                @Html.RadioButtonFor(m => m.gustora, "Ez gustora")<span>Ez gustora</span>
                        
                                <span asp-validation-for="gustora" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="hobekuntza" class="control-label">Zer hobetuko zenuke? (enpresa edo jokuari buruz)</label>
                                <br />
                                <textarea asp-for="hobekuntza" rows="4" cols="50">Idatzi testua...    </textarea>
                                <span asp-validation-for="hobekuntza" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" asp-controller="Home" asp-action="Index" value="Bidali" class="btn btn-success" />
                            </div>
                        </form>


                    </div>








                </div>




                <div class="col-2">
                </div>



            </div>
               
                   
        </main> <!-- .main-content -->

    </div> <!-- #site-content -->

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/app.js"></script>

</body>

</html>
